{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'kugrade/css/table.css' %}"/>
<!DOCTYPE HTML>

<html>
<head>
<style>
body{
	background-color:brown
}
</style>
<script type="text/javascript">

var a = "{{score|escapejs}}";
var b = "{{info|escapejs}}";
a = JSON.parse(a.replace(/'/g,'"'));
a = Object.values(a);
b = JSON.parse(b.replace(/'/g,'"'));
b = Object.values(b);
console.log(a);
console.log(b);
let dp = [];
var temp = {};
for(var i=0;i<a.length;i++){
	for(var j=0;j<a[i].length;j++){
		temp = {label:a[i][j][0]+'-'+a[i][j][1] ,y:Number(a[i][j][5]),color:'Black'};
		
		dp.push(temp);
	}
}
let jeonpil = [];
let jeonseon = [];
let gyo = [];
let totalJeonpil=0,totalJeonseon=0,totalGyo = 0;

for(var i=0;i<b.length;i++){
	for(var j=0;j<b[i].length;j++){
		if(b[i][j][4]=="전공선택"){
			jeonseon.push((b[i][j]));
			totalJeonseon+=Number(b[i][j][7]);
		}else if(b[i][j][4]=="전공필수"){
			jeonpil.push((b[i][j]));
			totalJeonpil+=Number(b[i][j][7]);
		}
		else{
			gyo.push((b[i][j]));
			totalGyo+=Number(b[i][j][7]);
		}

	}
}
console.log(jeonpil,jeonseon,totalGyo,totalJeonpil,totalJeonseon)
console.log(dp);
//var info = JSON.parse({{result}}".toString();
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2",
	axisY:{
   		maximum: 4.5,
 	},
	title:{
		text: "전학기 성적",
		fontColor: "#9c1e08"
	},
	axisY:{
		includeZero: false
	},
	data: [{        
		type: "line",   
		lineColor: "red",    
		dataPoints: dp,
	}]
});
chart.render();

}
</script>
</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>


<body>
	<table>
		<thead>
			<tr>
				<th>총학점</th>
				<th>이수학점</th>
				<th>전공필수</th>
				<th>전공선택</th>
				<th>교양</th>
			</tr>
		</thead>
		<tr>
			<td>
				<script type="text/javascript">document.write('130')</script>
			</td>
			<td>
				<script type="text/javascript">document.write((totalGyo + totalJeonpil + totalJeonseon).toString())</Script>
			</td>
			<td>
				<script type="text/javascript">document.write(totalJeonpil.toString())</Script>
			</td>
			<td>
				<script type="text/javascript">document.write(totalJeonseon.toString())</Script>
			</td>
			<td>
				<script type="text/javascript">document.write(totalGyo.toString())</Script>
			</td>
		</tr>
	</table>
</body>




</html>